<div class="col-sm-3" ng-controller="btnCtr" id="btn">
	<a href="#/list">
		<button class="btn btn-default btn-block btn-lg" ng-class="addBtnClass('all')" ng-click="addClick('all')">全部</button>
	</a>
	<a href="#/list">
		<button class="btn btn-default btn-block btn-lg" ng-class="addBtnClass('good')" ng-click="addClick('good')">精华</button>
	</a>
	<a href="#/list">
		<button class="btn btn-default btn-block btn-lg" ng-class="addBtnClass('share')" ng-click="addClick('share')">分享</button>
	</a>
	<a href="#/list">
		<button class="btn btn-default btn-block btn-lg" ng-class="addBtnClass('ask')" ng-click="addClick('ask')">问答</button>
	</a>
	<a href="#/list">
		<button class="btn btn-default btn-block btn-lg" ng-class="addBtnClass('job')" ng-click="addClick('job')">招聘</button>
	</a>
	
	
	
</div>