extends index
block content
	div.car.art
		div.top_pic
			a(href="#")
				img(src="img/car.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content.content1
			h3.title 商店
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/car1.jpg", alt="")
						p 赛车总动员卧室挂画
				li
					a(href="#")
						img(src="img/car2.jpg", alt="")
						p 赛车总动员童巾
				li
					a(href="#")
						img(src="img/car3.jpg", alt="")
						p 迪士尼赛车书包
				li
					a(href="#")
						img(src="img/car4.jpg", alt="")
						p 迪士尼全棉家纺
		div.content.content2
			h3.title 视频
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/car5.jpg", alt="")
						div.font
							h5 板牙特技秀
							p 板牙进入到斗兽场大秀特技
						em
						i
				li
					a(href="#")
						img(src="img/car6.jpg", alt="")
						div.font
							h5 异想世界板牙
							p 这次轮到板牙来当主角
						em
						i
				li
					a(href="#")
						img(src="img/car7.jpg", alt="")
						div.font
							h5 板牙斗阵西班牙
							p 两“牙”相遇，会擦出什么“笑”果呢
						em
						i
				li
					a(href="#")
						img(src="img/car8.jpg", alt="")
						div.font
							h5 板牙东京竞速
							p 板牙也有一颗赛车的心
						em
						i
		div.content.content3
			h3.title 游戏和其它应用
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/car9.jpg", alt="")
						div.font
							h5 赛车总动员2世界杯大赛
							p 发动你的引擎，驶入这惊险刺激的赛车世界吧!
						em
				li
					a(href="#")
						img(src="img/car10.jpg", alt="")
						div.font
							h5 赛车全收录
							p 快将各种赛车都停放到属于你的车库中
						em