extends index
block content	
	div.dr.art
		div.top_pic
			a(href="#")
				img(src="img/dr.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content.content1
			h3.title 商店
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/dr1.jpg", alt="")
						p 南瓜车足金黄金吊坠
				li
					a(href="#")
						img(src="img/dr2.jpg", alt="")
						p 白雪公主优雅高跟鞋
				li
					a(href="#")
						img(src="img/dr3.jpg", alt="")
						p 艾莎公主连衣裙
				li
					a(href="#")
						img(src="img/dr4.jpg", alt="")
						p 公主魔法宫殿套装
		div.content.content2
			h3.title 视频
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/dr5.jpg", alt="")
						div.font
							h5 《我们是公主》第一集
							p 让我们一起成为公主吧！
						em
						i
				li
					a(href="#")
						img(src="img/dr6.jpg", alt="")
						div.font
							h5 《我们是公主》第二集
							p 与小伙伴一起学习
						em
						i
				li
					a(href="#")
						img(src="img/dr7.jpg", alt="")
						div.font
							h5 《我们是公主》第三集
							p 穿上属于自己的水晶鞋
						em
						i
				li
					a(href="#")
						img(src="img/dr8.jpg", alt="")
						div.font
							h5 《我们是公主》第四集
							p 争当厨艺小明星
						em
						i
		div.content.content3
			h3.title 游戏和其它应用
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/dr9.jpg", alt="")
						div.font
							h5 我们是公主
							p 只要你拥有美丽的心就能变成公主！
						em
				li
					a(href="#")
						img(src="img/dr10.jpg", alt="")
						div.font
							h5 迪士尼公主换装秀
							p 来为你最喜欢的公主换上节日盛装吧~
						em
