div.footer
	div.footer_top
		div.footer_top_left
			img(src="img/footer_logo.png", alt="")
		div.footer_top_center
			img(src="img/weibo.jpg", alt="")
			p 关注我们的微博
		div.footer_top_right
			img(src="img/weixin.jpg", alt="")
			p 关注我们的微信
	div.footer_bottom
		div.footer_nav
			a(href="#") 关于我们
			a(href="#") 加入我们
			a(href="#") 法律条款
			a(href="#") 隐私政策
			a(href="#") 退换货政策
		p Disney | Pixar All rights reserved. 备案号：沪B2-20040339-3