div.header
	ul.clearfix
		li.nav
			a(href="/index")
				|<span class="nav1"></span>
				|首页 	
		li.nav
			a(href="/shop") 
				|<span class="nav2"></span>
				|商店
		li.nav
			a(href="/park") 
				|<span class="nav3"></span>
				|乐园
		li.logo
			a(href="/index")
				img(src="img/logo.png", alt="")
		li.nav
			a(href="/movie") 
				|<span class="nav4"></span>
				|影视
		li.nav
			a(href="javascript:void(0)") 
				|<span class="nav5"></span>
				|数码
		li.nav
			a(href="/vip") 
				|<span class="nav6"></span>
				|会员
