extends index
block content
	div.ice.art
		div.top_pic
			a(href="#")
				img(src="img/ice.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content.content1
			h3.title 商店
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/ice1.jpg", alt="")
						p 雪宝连体衣
				li
					a(href="#")
						img(src="img/ice2.jpg", alt="")
						p 冰雪奇缘雪花钻石吊坠
				li
					a(href="#")
						img(src="img/ice3.jpg", alt="")
						p 冰雪奇缘闪耀娃娃
				li
					a(href="#")
						img(src="img/ice4.jpg", alt="")
						p 百搭长袖套头卫衣
		div.content.content2
			h3.title 视频
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/ice5.jpg", alt="")
						div.font
							h5 面对压力 保持淡定
							p 雪宝搞笑回归
						em
						i
				li
					a(href="#")
						img(src="img/ice6.jpg", alt="")
						div.font
							h5 留心周围的环境
							p 玩耍时也要当心
						em
						i
				li
					a(href="#")
						img(src="img/ice7.jpg", alt="")
						div.font
							h5 雪宝爱耍宝之保持体形
							p 看雪宝的独家塑形大法
						em
						i
				li
					a(href="#")
						img(src="img/ice8.jpg", alt="")
						div.font
							h5 如何选择合适的配饰
							p 配饰突显雪宝魅力
						em
						i
		div.content.content3
			h3.title 游戏和其它应用
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/ice9.jpg", alt="")
						div.font
							h5 冰雪奇缘：冰纷乐
							p 进入魔幻的冰雪王国，开启一段传奇的冒险旅程！ !
						em
				li
					a(href="#")
						img(src="img/ice10.jpg", alt="")
						div.font
							h5 冰雪奇缘：故事读本
							p 从中获取最新的冰雪故事
						em