extends index
block content	
	div.in_body
		div.slide_box
			ul.clearfix
				li.top_pic
					a(href="#")
						img(src="img/move.jpg", alt="")
						div.font
							p 
								span.span1
								|购票
							p 
								span.span2
								|观看视频
				li.top_pic
					a(href="#")
						img(src="img/meidui.jpg", alt="")
						div.font
							p 
								span.span1
								|购票
							p 
								span.span2
								|观看视频
				li.top_pic
					a(href="#")
						img(src="img/cai.jpg", alt="")
			div.slide_point
				span.active
				span
				span
		div.star.in_content
			h3.title 明星
			ol.clearfix
				li
					a(href="/mic")
						img(src="img/i1.png", alt="")
						p 米奇和他的朋友们
				li
					a(href="/dr")
						img(src="img/i2.png", alt="")
						p 迪士尼公主
				li
					a(href="/car")
						img(src="img/i3.png", alt="")
						p 赛车总动员
				li
					a(href="/sf")
						img(src="img/i4.png", alt="")
						p 小公主苏菲亚
				li
					a(href="/ice")
						img(src="img/i5.png", alt="")
						p 冰雪奇缘
				li
					a(href="/war")
						img(src="img/i6.png", alt="")
						p 星球大战
		div.shop.in_content
			h3.title 商店
			ul.clearfix
				li.w50
					a(href="#")
						img(src="img/shop1.jpg", alt="")
				li
					a(href="#").shop1
						img(src="img/shop2.jpg", alt="")
						p 疯狂动物城 正版iPhone6/6s手机壳
					a(href="#").shop1
						img(src="img/shop3.jpg", alt="")
						p 疯狂动物城 可爱手机挂件 
				li
					a(href="#").shop1
						img(src="img/shop4.jpg", alt="")
						p 疯狂动物城 卡通抱枕 
					a(href="#").shop1
						img(src="img/shop5.jpg", alt="")
						p 疯狂动物城 卡通吸管杯
		div.zx.in_content
			h3.title 迪士尼资讯
			ul.clearfix
				li.w50.left
					a(href="#")
						img(src="img/zx1.jpg", alt="")
						div.font
							h4 上海迪士尼乐园开园在即！
							p 自2016年6月16日起，您将可以探索一个前所未有的神奇世界，每个人都能在这里点亮心中奇梦。
								i
						em
				li.w50.right.clearfix
					a(href="#").h474
						img(src="img/zx2.jpg", alt="")
						div.font1
							h5 迪士尼主题彩绘飞机正式亮相
							p 上海迪士尼和中国东方航空公司签署战略联盟协议，首架迪士尼主题彩绘飞机正式亮相。
								i
						em
					a(href="#").h474
						img(src="img/zx3.jpg", alt="")
						div.font1
							h5 中国设计师玩转“米妮新时尚”
							p 迪士尼携手四位中国设计师，将米妮的经典波点赋予了独一无二的时尚魅力。
								i
						em
					a(href="#").line
						img(src="img/zx4.jpg", alt="")
						div.font1
							h5 中国设计师玩转“米妮新时尚”
							p 迪士尼携手四位中国设计师，将米妮的经典波点赋予了独一无二的时尚魅力。
								i
						em
