extends index
block content
	div.mic.art
		div.top_pic
			a(href="#")
				img(src="img/mic.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content.content1
			h3.title 商店
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/mic1.jpg", alt="")
						p 迪士尼经典足金转运珠黄金吊坠
				li
					a(href="#")
						img(src="img/mic2.jpg", alt="")
						p 米奇拉杆箱旅行箱
				li
					a(href="#")
						img(src="img/mic3.jpg", alt="")
						p 米妮 皇后造型
				li
					a(href="#")
						img(src="img/mic4.jpg", alt="")
						p 米奇卡通双肩背包
		div.content.content2
			h3.title 视频
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/mic5.jpg", alt="")
						div.font
							h5 俏皮耳朵
							p 米奇最明显的标志，就是他那双耳朵
						em
						i
				li
					a(href="#")
						img(src="img/mic6.jpg", alt="")
						div.font
							h5 我的米妮
							p 米奇终于找到了他的梦中情人
						em
						i
				li
					a(href="#")
						img(src="img/mic7.jpg", alt="")
						div.font
							h5 动物园
							p 闲暇的日子，动物园是很好的休闲选择，米奇显然也是这么认为
						em
						i
				li
					a(href="#")
						img(src="img/mic8.jpg", alt="")
						div.font
							h5 爱狗大赛
							p 今日举办的爱狗大赛，你能见到很多汪星人
						em
						i
		div.content.content3
			h3.title 游戏和其它应用
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/mic9.jpg", alt="")
						div.font
							h5 米奇欢笑多
							p 米奇出新动画啦！全新创作的《米奇欢笑多》动画短片里，米奇开启了环球之旅。
						em
				li
					a(href="#")
						img(src="img/mic10.jpg", alt="")
						div.font
							h5 米奇小顽皮
							p 与米奇一起加入迪士尼最受欢迎的手机游戏，开始全新的冒险活动！
						em
