extends index
block content
	div.park.move
		div.top_pic
			a(href="#")
				img(src="img/move.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content
			h3.title 最新电影
			div.box
				ul.clearfix
					li.big
						a(href="#").clearfix
							img(src="img/m1.jpg", alt="")
							div.big_font
								h4 《爱丽丝梦游仙境2》华丽全新海报曝光
								p 爱丽丝、疯帽子、白皇后、红皇后、新反派时间五款海报全员亮相！
					li.sm
						a(href="#").clearfix
							img(src="img/m2.jpg", alt="")
							div.font
								h4 《海底总动员2：寻找多莉》曝光新海报
								p 《海底总动员2：寻找多莉》推出四款全新海报，将于2016年6月17日登陆北美。
									span
							i
						a(href="#").clearfix
							div.font
								h4 《美女与野兽》首支中文预告片 全球同步发布
								p  遭受诅咒的王子城堡日渐破败，魔法玫瑰花瓣一直剥落，直到一位少女到访—她会是命中注定的那个人吗？2017年3月17日，叩响真爱。
									span
							img(src="img/m3.jpg", alt="")
							i
		div.content
			h3.title 电视
			div.box
				ul.clearfix
					li.sm
						a(href="#").clearfix
							img(src="img/m4.jpg", alt="")
							div.font
								h4 《星球大战：义军崛起》第二季回归！
								p 《星球大战：义军崛起》第二季将同时登陆爱奇艺和乐视网动漫频道， 并每周与全球同步跟播。
									span
							i
						a(href="#").clearfix
							div.font
								h4 平凡女孩，非凡小公主苏菲亚！
								p 每一集的节目里，苏菲亚都会遇到不同的问题，一起来看她怎麽克服困难，帮助身边需要协助的朋友，也让自己成为一个人见人爱的小公主。
									span
							img(src="img/m5.jpg", alt="")
							i
					li.big
						a(href="#").clearfix
							img(src="img/m6.jpg", alt="")
							div.big_font
								h4 最爱迪士尼
								p 汇集众多精彩且适合阖家共享的正版迪士尼动画剧集，包括《米奇妙妙屋》、《星际宝贝》、《小熊维尼与跳跳虎》、《飞哥与小佛》等，每一部动画剧集都有不同的风格，透过精彩的故事情节和丰富的动画内容，让观众从中领略到充满正能量的人生观。
		div.move_more.content
			h3.title 更多影视资讯
			div.move_more_box
				ul.clearfix
					li.left
						a(href="#")
							img(src="img/m7.jpg", alt="")
							div.left_bottom
								h4 《爱丽丝梦游仙境2》上周于英国伦敦举办首映盛典
								p 鬼才制片人蒂姆·伯顿携一众好莱坞巨星亲临现场，与现场的小观众们玩得不亦乐乎。
							em
					li.right
						dl
							a(href="#")
								dd
									div.left.clearfix
										div.ll
											span.mon 16
											i
											span.date 5
										div.rr
											img(src="img/more1.jpg", alt="")
									h5 《海底总动员2》 中国定档6月17日上映！
									p 你最爱的尼莫、马林和多莉都回来啦，邀你踏上全新大冒险！
									em
							a(href="#")
								dd
									div.left
										div.ll
											span.mon 8
											i
											span.date 5
										div.rr
											img(src="img/more2.jpg", alt="")
									h5 《海底总动员2》祝福妈妈们节日快乐！
									p 送上母亲节特别短片，今天大家都去和妈妈说一声“我爱你”吧！
									em
							a(href="#")
								dd
									div.left
										div.ll
											span.mon 28
											i
											span.date 4
										div.rr
											img(src="img/more3.jpg", alt="")
									h5 《爱丽丝梦游仙境2》中文版电影海报正式发布
									p 一如既往的群星云集、璀璨夺目、华丽绚烂！快快加入爱丽丝与“时间”的对决，拯救疯帽子和仙境世界！
									em
							a(href="#")
								dd
									div.left
										div.ll
											span.mon 26
											i
											span.date 4
										div.rr
											img(src="img/more4.jpg", alt="")
									h5 《爱丽丝梦游仙境2》定档5月27日！
									p 中国独家预告片也首度曝光！爱丽丝为拯救疯帽子重返仙境，对抗更强反派“时间”！
									em
							a(href="#")
								dd.last
									div.left
										div.ll
											span.mon 25
											i
											span.date 4
										div.rr
											img(src="img/more5.jpg", alt="")
									h5 《奇幻森林》强势蝉联北美、中国周末票房冠军！
									p 影片北美累计票房1.91亿美元，中国累计约6.42亿人民币，全球总收入已超越5亿美元！
									em