extends index
block content
	div.park
		div.top_pic
			a(href="#")
				img(src="img/cai.jpg", alt="")
		div.content
			h3.title 上海迪士尼度假区
			div.box
				ul.clearfix
					li.big
						a(href="#").clearfix
							img(src="img/p1.jpg", alt="")
							div.big_font
								h4 上海迪士尼开园在即！
								p 自2016年6月16日起，您将可以探索一个前所未有的神奇世界，每个人都能在这里点亮心中奇梦！
					li.sm
						a(href="#").clearfix
							img(src="img/p2.jpg", alt="")
							div.font
								h4  上海迪士尼度假区为每一位游客创造独特体验
								p 上海迪士尼度假区不仅为孩子创造快乐，也将为所有人开启一段难忘的神奇旅程。
									span
							i
						a(href="#").clearfix
							div.font
								h4  上海迪士尼度假区为每一位游客创造独特体验
								p 新的好玩的都在这里！让我们探索园区精彩，一同玩转上海迪士尼！
									span
							img(src="img/p3.jpg", alt="")
							i
		div.content
			h3.title 香港迪士尼乐园
			div.box
				ul.clearfix
					li.sm
						a(href="#").clearfix
							img(src="img/p4.jpg", alt="")
							div.font
								h4  香港迪士尼乐园3天世外桃源度假套票预订
								p 立即预订全新香港迪士尼3天世外桃源度假套票，每人每日只需港币$799起！
									span
							i
						a(href="#").clearfix
							div.font
								h4  香港迪士尼乐园推出高达7折住宿优惠价
								p 立刻享受高达七五折优惠价入住香港迪士尼乐园酒店或迪士尼好莱坞酒店，打造难忘的新春假期。
									span
							img(src="img/p5.jpg", alt="")
							i
					li.big
						a(href="#").clearfix
							img(src="img/p6.jpg", alt="")
							div.big_font
								h4 香港迪士尼乐园10周年幸福之旅
								p 香港迪士尼乐园10周年庆典，现场亲身感受Happily Ever After的感动，揭开幸福序幕！

