extends index
block content
	div.sf.art
		div.top_pic
			a(href="#")
				img(src="img/sf.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content.content1
			h3.title 商店
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/sf1.jpg", alt="")
						p 小公主苏菲亚连衣裙
				li
					a(href="#")
						img(src="img/sf2.jpg", alt="")
						p 舒肤棉女童圆领内衣
				li
					a(href="#")
						img(src="img/sf3.jpg", alt="")
						p 苏菲亚公主女童表
				li
					a(href="#")
						img(src="img/sf4.jpg", alt="")
						p 苏菲亚小公主皮靴
		div.content.content2
			h3.title 视频
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/sf5.jpg", alt="")
						div.font
							h5 小公主苏菲亚预告片
							p 快来看看最新的小公主苏菲亚
						em
						i
				li
					a(href="#")
						img(src="img/sf6.jpg", alt="")
						div.font
							h5 小公主苏菲亚姐妹篇
							p 与苏菲亚共度闺蜜好时光
						em
						i
				li
					a(href="#")
						img(src="img/sf7.jpg", alt="")
						div.font
							h5 小公主苏菲亚主题曲
							p 一起唱响苏菲亚的主题曲
						em
						i
				li
					a(href="#")
						img(src="img/sf8.jpg", alt="")
						div.font
							h5 小公主苏菲亚热播
							p 苏菲亚在卡酷动画频道大受好评！
						em
						i
		div.content.content3
			h3.title 游戏和其它应用
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/sf9.jpg", alt="")
						div.font
							h5 苏菲亚的初次旅程
							p 一起与苏菲亚踏上冒险之旅!
						em
				li
					a(href="#")
						img(src="img/sf10.jpg", alt="")
						div.font
							h5 迪士尼故事小剧场
							p 与明星角色一起登上舞台
						em