extends index
block content
	div.store_alert_bg.hidden
	div.store
		div.store_alert.hidden
			p 更多精彩商品，
			p 请莅临
				a(href="#") 上海市浦东新区丰和路180号
				|迪士尼商店选购，
			p 您也可以登录
				a(href="#") 迪士尼商店天猫商城
				|选购。
			span.yuan
		div.store_shop
			ul.clearfix
				li
					img(src="img/sp1.jpg", alt="")
					a(href="#")
						img(src="img/sp2.jpg", alt="")
				li
					a(href="#").spe
						img(src="img/sp3.jpg", alt="")
				li
					a(href="")
						img(src="img/sp4.jpg", alt="")
					a(href="")
						img(src="img/sp5.jpg", alt="")
				li
					a(href="#")
						img(src="img/sp6.jpg", alt="")
					a(href="#")
						img(src="img/sp7.jpg", alt="")
		h3.title 授权商品
		div.store_s
			ul.clearfix
				li.li1
					a(href="#")
						img(src="img/s1.jpg", alt="")
						p 迪士尼 珊瑚绒家居服
				li
					a(href="#")
						img(src="img/s2.jpg", alt="")
						p 迪士尼 米奇石英情侣表
					a(href="#")
						img(src="img/s3.jpg", alt="")
						p 迪士尼 公主钱包
				li
					a(href="#")
						img(src="img/s4.jpg", alt="")
						p 周大福 迪士尼钻石戒指
					a(href="#")
						img(src="img/s5.jpg", alt="")
						p 迪士尼 春季新品优雅公主高跟鞋
				li
					a(href="#")
						img(src="img/s6.jpg", alt="")
						p 死星 磁悬浮蓝牙无线音响
					a(href="#")
						img(src="img/s7.jpg", alt="")
						p 星球大战 USB小夜灯
				li.li2
					a(href="#")
						img(src="img/s8.jpg", alt="")
						p 星球大战 白兵黑兵手办
				li.li1
					a(href="#")
						img(src="img/s9.jpg", alt="")
						p 星球大战 现代客厅装饰画
				li.li1
					a(href="#")
						img(src="img/s10.jpg", alt="")
						p 迪士尼 米妮米奇亲子T恤
				li
					a(href="#")
						img(src="img/s11.jpg", alt="")
						p 疯狂动物城 正版iphone6/6s手机壳
					a(href="#")
						img(src="img/s12.jpg", alt="")
						p 糖果大师头脑特工队 小方瓶
				li
					a(href="#")
						img(src="img/s13.jpg", alt="")
						p 米奇 3D立体情侣马克杯
					a(href="#")
						img(src="img/s14.jpg", alt="")
						p 迪士尼 玩具总动员纯棉浴巾
