extends index
block content
	div.war.art
		div.top_pic
			a(href="#")
				img(src="img/war.jpg", alt="")
				div.font
					p 
						span.span1
						|购票
					p 
						span.span2
						|观看视频
		div.content.content1
			h3.title 商店
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/war1.jpg", alt="")
						p 死星 蓝牙无线音响
				li
					a(href="#")
						img(src="img/war2.jpg", alt="")
						p BB-8 智能球型机器人
				li
					a(href="#")
						img(src="img/war3.jpg", alt="")
						p 星球大战车载充电器
				li
					a(href="#")
						img(src="img/war4.jpg", alt="")
						p 星战7复古平沿帽
		div.content.content2
			h3.title 视频
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/war5.jpg", alt="")
						div.font
							h5 人气偶像鹿晗为“星战”代言
							p 鹿晗教你“原力觉醒”的正确方式
						em
						i
				li
					a(href="#")
						img(src="img/war6.jpg", alt="")
						div.font
							h5 “绝地大师”鹿晗对抗黑暗势力
							p 鹿晗化身绝地大师，对抗邪恶势力
						em
						i
				li
					a(href="#")
						img(src="img/war7.jpg", alt="")
						div.font
							h5 星球大战：原力觉醒预告
							p 莱娅公主与韩·索罗再度相拥
						em
						i
				li
					a(href="#")
						img(src="img/war8.jpg", alt="")
						div.font
							h5 原力觉醒幕后大揭秘
							p 带你领略片场的奇妙
						em
						i
		div.content.content3
			h3.title 游戏和其它应用
			ul.clearfix
				li.le
					a(href="#")
						img(src="img/war9.jpg", alt="")
						div.font
							h5 星球大战之旅：开端
							p 冲回史诗般的战斗岁月!
						em
				li
					a(href="#")
						img(src="img/war10.jpg", alt="")
						div.font
							h5 星球大战场景构建器
							p 快来建造属于自己的军团
						em