.park {
  width: 10.0rem;
  margin: auto;
}
.park .content {
  padding-top: 0.483333rem;
}
.park .content .title {
  text-align: center;
  font-size: 0.283333rem;
  line-height: 0.283333rem;
  margin-bottom: 0.35rem;
  font-weight: bolder;
}
.park .content .box ul {
  border: 1px solid #dcdcdc;
}
.park .content .box ul li {
  float: left;
  width: 4.991667rem;
}
.park .content .box ul li a {
  display: block;
  position: relative;
  left: 0;
  top: 0;
}
.park .content .box ul li a:hover {
  box-shadow: 0 0 20px #ccc;
  z-index: 100;
}
.park .content .box ul li a i {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  transform: rotate(45deg);
  background-color: #fff;
  left: 50%;
  top: 0.291667rem;
  margin-left: -0.125rem;
}
.park .content .box ul li a img {
  float: left;
  width: 50%;
}
.park .content .box ul li a .font {
  width: 50%;
  float: left;
  padding: 0.25rem;
}
.park .content .box ul li a .font h4 {
  font-size: 0.15rem;
  line-height: 0.183333rem;
  font-weight: bolder;
}
.park .content .box ul li a .font p {
  font-size: 0.116667rem;
  line-height: 0.183333rem;
  margin-top: 0.166667rem;
}
.park .content .box ul li a .font p span {
  display: inline-block;
  width: 0.116667rem;
  height: 0.125rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.4rem -0.85rem;
  vertical-align: middle;
}
.park .content .box ul .big a img {
  width: 100%;
}
.park .content .box ul .big a .big_font {
  position: absolute;
  left: 0.55rem;
  bottom: 0.25rem;
  color: #fff;
  padding-right: 0.333333rem;
}
.park .content .box ul .big a .big_font h4 {
  font-size: 0.208333rem;
  line-height: 0.208333rem;
}
.park .content .box ul .big a .big_font p {
  font-size: 0.133333rem;
  line-height: 0.183333rem;
  margin-top: 0.15rem;
}
.top_pic a {
  position: relative;
  display: block;
}
.top_pic a img {
  display: block;
  width: 100%;
}
.top_pic a .font {
  position: absolute;
  left: 0.833333rem;
  top: 1.666667rem;
  z-index: 10;
}
.top_pic a .font p {
  width: 2.216667rem;
  font-size: 0.158333rem;
  line-height: 0.45rem;
  color: #fff;
  font-weight: bolder;
  border-bottom: 1px solid #666;
}
.top_pic a .font p span {
  display: inline-block;
  width: 0.258333rem;
  height: 0.258333rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  vertical-align: middle;
  margin-right: 0.175rem;
}
.top_pic a .font p .span1 {
  background-position: 0 -3.291667rem;
}
.top_pic a .font p .span2 {
  width: 0.25rem;
  height: 0.191667rem;
  background-position: -0.275rem -3.058333rem;
}
.move_more_box ul {
  width: 100%;
  border: 1px solid #dcdcdc;
}
.move_more_box ul li {
  float: left;
  width: 50%;
}
.move_more_box ul li a {
  display: block;
}
.move_more_box ul li a:hover {
  box-shadow: 0 0 20px #ccc;
  z-index: 99;
}
.move_more_box ul .left a {
  position: relative;
}
.move_more_box ul .left a em {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  transform: rotate(45deg);
  background-color: #fff;
  left: 0.6rem;
  bottom: 0.8rem;
  margin-left: -0.125rem;
  margin-bottom: -0.125rem;
}
.move_more_box ul .left .left_bottom {
  height: 0.791667rem;
  padding-left: 0.166667rem;
  padding-top: 0.25rem;
}
.move_more_box ul .left .left_bottom h4 {
  font-size: 0.183333rem;
  line-height: 0.183333rem;
  margin-bottom: 0.075rem;
  font-weight: bolder;
}
.move_more_box ul .left .left_bottom p {
  font-size: 0.116667rem;
  line-height: 0.116667rem;
  color: #666;
}
.move_more_box ul .right dl dd {
  padding: 0.191667rem 0.266667rem 0.041667rem;
  position: relative;
  padding-left: 1.466667rem;
  height: 0.8rem;
  border-bottom: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}
.move_more_box ul .right dl dd h5 {
  font-size: 0.133333rem;
  font-weight: bolder;
  margin-bottom: 0.066667rem;
}
.move_more_box ul .right dl dd p {
  font-size: 0.116667rem;
  line-height: 0.166667rem;
  font-weight: bold;
}
.move_more_box ul .right dl dd .left {
  position: absolute;
  width: 1.066667rem;
  height: 0.4rem;
  top: 0.191667rem;
  left: 0.266667rem;
}
.move_more_box ul .right dl dd .left div {
  float: left;
  width: 50%;
  height: 0.4rem;
}
.move_more_box ul .right dl dd .left .ll {
  position: relative;
  color: #fff;
  background-color: #06b4b3;
}
.move_more_box ul .right dl dd .left .ll .mon {
  font-size: 0.116667rem;
  position: absolute;
  left: 0.066667rem;
  top: 0.066667rem;
  font-weight: bolder;
}
.move_more_box ul .right dl dd .left .ll .date {
  font-size: 0.1rem;
  position: absolute;
  left: 0.283333rem;
  top: 0.208333rem;
  font-weight: bolder;
}
.move_more_box ul .right dl dd .left .ll i {
  position: absolute;
  width: 0.166667rem;
  height: 0.208333rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: 0 -0.9875rem;
  left: 0.166667rem;
  top: 0.108333rem;
}
.move_more_box ul .right dl dd em {
  position: absolute;
  width: 0.083333rem;
  height: 0.133333rem;
  right: 0.283333rem;
  top: 0.333333rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: 0 -3.691667rem;
}
.move_more_box ul .right dl .last {
  border-bottom: none;
}
.in_body {
  width: 10.0rem;
  margin: auto;
}
.in_body img {
  width: 100%;
}
.slide_box {
  width: 10.0rem;
  height: 4.208333rem;
  overflow: hidden;
  position: relative;
}
.slide_box ul {
  position: relative;
}
.slide_box ul li {
  float: left;
}
.slide_box .slide_point {
  position: absolute;
  right: 0.391667rem;
  bottom: 0.291667rem;
}
.slide_box .slide_point span {
  width: 0.116667rem;
  height: 0.116667rem;
  float: left;
  margin-left: 0.058333rem;
  background-color: #fff;
  border-radius: 50%;
}
.slide_box .slide_point .active {
  background-color: #ed020e;
}
.in_content {
  padding-top: 0.491667rem;
}
.in_content .title {
  font-size: 0.266667rem;
  line-height: 0.266667rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.366667rem;
}
.in_content ol li {
  float: left;
  width: 16.66666667%;
  text-align: center;
  height: 1.5rem;
}
.in_content ol li a {
  width: 0.95rem;
  transition: all 0.2s linear;
  display: block;
  margin: auto;
}
.in_content ol li a:hover {
  width: 1.4rem;
  -webkit-transform: translateY(-16%);
  -moz-transform: translateY(-16%);
  -ms-transform: translateY(-16%);
  -o-transform: translateY(-16%);
  transform: translateY(-16%);
}
.in_content ol li a:hover img {
  box-shadow: 10px 10px 10px #ccc;
}
.in_content ol li a:hover p {
  font-weight: bolder;
}
.in_content ol li img {
  width: 100%;
  border-radius: 50%;
}
.in_content ol li p {
  font-size: 0.15rem;
  margin-top: 0.2rem;
  font-weight: lighter;
  width: 200%;
  margin-left: -50%;
}
.in_content ul {
  border-top: 1px solid #dcdcdc;
}
.in_content ul li {
  float: left;
  width: 2.491667rem;
  border-right: 1px solid #dcdcdc;
}
.in_content ul li a {
  position: relative;
}
.in_content ul li a:hover {
  box-shadow: 0 0 20px #ccc;
  z-index: 10;
}
.in_content ul .w50 {
  width: 4.991667rem;
}
.shop ul li .shop1 {
  display: block;
  height: 2.466667rem;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  background-color: #fff;
}
.shop ul li .shop1 img {
  display: block;
  width: 100%;
}
.shop ul li .shop1 p {
  font-size: 0.133333rem;
  text-indent: 0.166667rem;
}
.zx {
  border-bottom: 1px solid #dcdcdc;
}
.zx .left {
  border-right: none;
}
.zx .left a {
  position: relative;
  display: block;
  height: 6.391667rem;
  border-left: 1px solid #dcdcdc;
  overflow: hidden;
}
.zx .left a em {
  position: absolute;
  width: 0.416667rem;
  height: 0.416667rem;
  background-color: #fff;
  left: 0.583333rem;
  bottom: 2.45rem;
  margin-left: -0.208333rem;
  margin-bottom: -0.208333rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.zx .left .font {
  margin-top: 0.308333rem;
  padding: 0 0.4rem;
}
.zx .left .font h4 {
  font-size: 0.25rem;
  line-height: 0.25rem;
  margin-bottom: 0.2rem;
}
.zx .left .font p {
  font-size: 0.116667rem;
  line-height: 0.183333rem;
}
.zx .left .font p i {
  display: inline-block;
  width: 0.116667rem;
  height: 0.125rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.4rem -0.85rem;
  vertical-align: middle;
}
.zx .right {
  border-right: none;
}
.zx .right a {
  float: left;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  display: block;
  overflow: hidden;
}
.zx .right .line {
  height: 2.466667rem;
  width: 100%;
}
.zx .right .line img {
  width: 50%;
  float: left;
}
.zx .right .line .font1 {
  float: left;
  width: 50%;
}
.zx .right .line em {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #fff;
  left: 50%;
  top: 0.4rem;
  margin-left: -0.125rem;
  margin-top: -0.125rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.zx .right .h474 {
  width: 50%;
  height: 3.95rem;
  position: relative;
  border-right: 1px solid #dcdcdc;
}
.zx .right .h474 em {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #fff;
  left: 0.391667rem;
  bottom: 1.475rem;
  margin-left: -0.125rem;
  margin-bottom: -0.125rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.zx .right .font1 {
  padding: 0 0.233333rem;
  padding-top: 0.233333rem;
}
.zx .right .font1 h5 {
  font-size: 0.15rem;
  line-height: 0.183333rem;
  font-weight: bolder;
  margin-bottom: 0.133333rem;
}
.zx .right .font1 p {
  font-size: 0.116667rem;
  line-height: 0.183333rem;
}
.zx .right .font1 p i {
  display: inline-block;
  width: 0.116667rem;
  height: 0.125rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.4rem -0.85rem;
  vertical-align: middle;
}
.art {
  width: 10.0rem;
  margin: auto;
}
.art img {
  width: 100%;
}
.art .content {
  padding-top: 0.483333rem;
}
.art .content .title {
  font-size: 0.291667rem;
  line-height: 0.291667rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.35rem;
}
.art .content ul li {
  float: left;
}
.art .content1 ul {
  width: 100%;
}
.art .content1 ul li {
  width: 25%;
  border: 1px solid #dcdcdc;
  border-left: none;
  height: 3.483333rem;
  text-align: center;
  position: relative;
}
.art .content1 ul li:hover {
  box-shadow: 0 0 20px #ccc;
  z-index: 10;
}
.art .content1 ul li p {
  font-size: 0.133333rem;
  font-weight: bolder;
  margin-top: 0.083333rem;
}
.art .content1 ul .le {
  border-left: 1px solid #dcdcdc;
}
.art .content2 ul {
  width: 100%;
}
.art .content2 ul li {
  width: 25%;
  border: 1px solid #dcdcdc;
  border-left: none;
  height: 2.583333rem;
  position: relative;
}
.art .content2 ul li:hover i {
  opacity: 1;
}
.art .content2 ul li em {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #fff;
  left: 0.391667rem;
  bottom: 1.15rem;
  margin-left: -0.125rem;
  margin-bottom: -0.125rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.art .content2 ul li i {
  position: absolute;
  left: 50%;
  margin-left: -0.233333rem;
  top: 0.466667rem;
  width: 0.466667rem;
  height: 0.466667rem;
  opacity: 0.8;
  background-image: url('../img/play.png');
  background-size: 0.466667rem 0.466667rem;
}
.art .content2 ul li .font {
  padding: 0.233333rem;
}
.art .content2 ul li .font h5 {
  font-size: 0.133333rem;
  font-weight: bolder;
  line-height: 0.133333rem;
  margin-bottom: 0.091667rem;
}
.art .content2 ul li .font p {
  font-size: 0.116667rem;
  line-height: 0.183333rem;
}
.art .content2 ul .le {
  border-left: 1px solid #dcdcdc;
}
.art .content3 ul {
  width: 100%;
}
.art .content3 ul li {
  width: 50%;
  height: 3.741667rem;
  position: relative;
  border: 1px solid #dcdcdc;
  border-left: none;
}
.art .content3 ul li .font {
  padding: 0.216667rem 0.158333rem 0.041667rem;
}
.art .content3 ul li .font h5 {
  font-size: 0.133333rem;
  line-height: 0.133333rem;
  font-weight: bolder;
  margin-bottom: 0.091667rem;
}
.art .content3 ul li .font p {
  font-size: 0.116667rem;
  line-height: 0.183333rem;
}
.art .content3 ul li em {
  position: absolute;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #fff;
  left: 0.391667rem;
  bottom: 0.866667rem;
  margin-left: -0.125rem;
  margin-bottom: -0.125rem;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.art .content3 ul .le {
  border-left: 1px solid #dcdcdc;
}
