:root {
  font-size: 120px;
}
.userinfo,
.register,
.resetPass {
  width: 10.0rem;
  margin: auto;
  font-size: 12px;
}
.userinfo_top,
.reg_top,
.reset_top {
  height: 1.75rem;
  background-image: url("../img/user_bg.jpg");
  background-size: 100% 100%;
  padding-left: 0.775rem;
  padding-top: 0.491667rem;
  color: #fff;
}
.userinfo_top h3,
.reg_top h3,
.reset_top h3 {
  font-size: 0.3rem;
  line-height: 0.3rem;
  font-weight: bolder;
}
.userinfo_top p,
.reg_top p,
.reset_top p {
  margin-top: 0.125rem;
  font-size: 0.133333rem;
  line-height: 0.133333rem;
}
.userinfo_bottom {
  height: 4.641667rem;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  margin-top: 0.333333rem;
  padding-top: 0.816667rem;
}
.userinfo_bottom form {
  width: 3.916667rem;
  margin: auto;
  font-size: 0.116667rem;
}
.userinfo_bottom form p {
  margin-bottom: 0.108333rem;
}
.userinfo_bottom form .txt {
  width: 100%;
  height: 0.45rem;
  border: 1px solid #c2c2c2;
  text-indent: 0.166667rem;
}
.userinfo_bottom form .password {
  margin-top: 0.258333rem;
}
.userinfo_bottom form .auto_load {
  padding-top: 0.158333rem;
}
.userinfo_bottom form .auto_load span {
  float: left;
  width: 0.175rem;
  height: 0.175rem;
  background-image: url("../img/xuebi.png");
  background-size: 0.516667rem 4.025rem;
  background-position: -0.341667rem -2.041667rem;
}
.userinfo_bottom form .auto_load .checked {
  background-position: -0.341667rem -2.216667rem;
}
.userinfo_bottom form .auto_load p {
  float: left;
  font-size: 0.116667rem;
  line-height: 0.175rem;
  margin-left: 0.066667rem;
}
.userinfo_bottom form .auto_load a {
  float: right;
  font-size: 0.116667rem;
  line-height: 0.175rem;
  margin-right: 0.033333rem;
}
.userinfo_bottom form .submit {
  padding-top: 0.366667rem;
  text-align: center;
}
.userinfo_bottom form .submit button {
  display: block;
  width: 1.7rem;
  height: 0.5rem;
  font-size: 0.116667rem;
  color: #fff;
  line-height: 0.5rem;
  margin: auto;
  background-color: #06b4b3;
  font-size: 0.166667rem;
  margin-bottom: 0.191667rem;
}
.userinfo_bottom form .submit a {
  font-size: 0.116667rem;
  text-decoration: underline;
}
.reg_bottom {
  margin-top: 0.333333rem;
  border: 1px solid #e5e5e5;
  padding-left: 0.783333rem;
  padding-top: 0.816667rem;
  background-color: #f9f9f9;
  padding-bottom: 0.683333rem;
}
.reg_bottom p {
  font-size: 14px;
}
.reg_bottom .reg_txt {
  width: 3.916667rem;
  height: 0.45rem;
  border: 1px solid #e5e5e5;
  text-indent: 0.166667rem;
  margin-top: 0.108333rem;
}
.reg_bottom .right {
  margin-left: 0.208333rem;
}
.reg_bottom .left,
.reg_bottom .right {
  position: relative;
  float: left;
  width: 4.3rem;
  padding-bottom: 0.266667rem;
}
.reg_bottom .left i,
.reg_bottom .right i {
  display: none;
  position: absolute;
  right: 0;
  top: 0.325rem;
  width: 0.216667rem;
  height: 0.216667rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.3rem -1.2125rem;
}
.reg_bottom .left .true,
.reg_bottom .right .true {
  background-position: -0.3rem -0.991667rem;
}
.reg_bottom .left span,
.reg_bottom .right span {
  display: none;
  position: absolute;
  text-align: right;
  right: 0.341667rem;
  top: 0.7rem;
}
.reg_bottom .left .reg_err,
.reg_bottom .right .reg_err {
  color: #ed020e;
}
.reg_bottom .reg_4 p {
  margin-bottom: 0.233333rem;
}
.reg_bottom .reg_4 i {
  float: left;
  width: 0.15rem;
  height: 0.15rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.0875rem -3.841667rem;
}
.reg_bottom .reg_4 span {
  float: left;
  font-size: 0.133333rem;
  line-height: 0.15rem;
  margin-left: 0.108333rem;
  margin-right: 0.191667rem;
}
.reg_bottom .reg_4 .checked {
  background-position: -0.0875rem -3.691667rem;
}
.reg_bottom .reg_5 {
  margin-top: 0.266667rem;
}
.reg_bottom .reg_6 em {
  display: inline-block;
  width: 3.916667rem;
  height: 0.433333rem;
  border: 1px solid #dcdcdc;
  line-height: 0.416667rem;
  font-size: 0.116667rem;
  padding: 0 0.108333rem;
  position: relative;
  background-color: #fff;
}
.reg_bottom .reg_6 em b {
  position: absolute;
  width: 0.091667rem;
  height: 0.05rem;
  right: 0.216667rem;
  top: 0.191667rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.425rem -2.391667rem;
}
.reg_bottom .reg_6 p {
  margin-bottom: 0.108333rem;
}
.reg_bottom .reg_6 .left {
  width: 3.916667rem;
  margin-right: 0.366667rem;
  position: relative;
}
.reg_bottom .reg_6 .left .sheng_box,
.reg_bottom .reg_6 .left .shi_box {
  display: none;
  width: 3.916667rem;
  position: absolute;
  top: 0.433333rem;
  left: 0;
  height: 1.175rem;
  border: 1px solid #dcdcdc;
  border-top: none;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 100;
}
.reg_bottom .reg_6 .left .sheng_box ul li,
.reg_bottom .reg_6 .left .shi_box ul li {
  background-color: #fff;
  padding: 0.108333rem;
  cursor: pointer;
}
.reg_bottom .reg_7 p {
  margin-bottom: 0.108333rem;
}
.reg_bottom .reg_7 em {
  display: inline-block;
  width: 2.416667rem;
  height: 0.433333rem;
  border: 1px solid #dcdcdc;
  line-height: 0.416667rem;
  font-size: 0.116667rem;
  padding: 0 0.108333rem;
  position: relative;
  background-color: #fff;
}
.reg_bottom .reg_7 em b {
  position: absolute;
  width: 0.091667rem;
  height: 0.05rem;
  right: 0.216667rem;
  top: 0.191667rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.425rem -2.391667rem;
}
.reg_bottom .reg_7 .left {
  width: 2.416667rem;
  position: relative;
  margin-right: 0.05rem;
}
.reg_bottom .reg_7 .left .year_box,
.reg_bottom .reg_7 .left .month_box,
.reg_bottom .reg_7 .left .date_box {
  display: none;
  width: 2.416667rem;
  position: absolute;
  top: 0.433333rem;
  left: 0;
  height: 1.175rem;
  border: 1px solid #dcdcdc;
  border-top: none;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 100;
}
.reg_bottom .reg_7 .left .year_box ul li,
.reg_bottom .reg_7 .left .month_box ul li,
.reg_bottom .reg_7 .left .date_box ul li {
  background-color: #fff;
  padding: 0.108333rem;
  cursor: pointer;
}
.reg_bottom .reg_8 .left a {
  position: absolute;
  right: -1.125rem;
  top: 0.225rem;
}
.reg_bottom .reg_9 .iframe_box {
  margin-top: 0.108333rem;
  background-color: #fff;
  width: 8.166667rem;
  height: 1.233333rem;
  border: 1px solid #dcdcdc;
  padding: 0 0.208333rem;
  padding-top: 0.191667rem;
  overflow: hidden;
}
.reg_bottom .reg_9 .iframe_box iframe {
  width: 100%;
  height: 1.016667rem;
}
.reg_bottom .reg_10 {
  padding-left: 2.391667rem;
  margin-top: 0.166667rem;
}
.reg_bottom .reg_10 i {
  float: left;
  width: 0.175rem;
  height: 0.175rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.341667rem -2.041667rem;
  margin-right: 0.066667rem;
}
.reg_bottom .reg_10 .checked {
  background-position: -0.341667rem -2.216667rem;
}
.reg_bottom .reg_10 span {
  float: left;
  height: 0.175rem;
  line-height: 0.175rem;
  font-size: 0.116667rem;
}
.reg_bottom .reg_11 {
  text-align: center;
  margin-top: 0.333333rem;
}
.reg_bottom .reg_11 button {
  width: 1.7rem;
  height: 0.5rem;
  background-color: #06b4b3;
  color: #fff;
  font-size: 0.166667rem;
  font-weight: bolder;
  cursor: pointer;
}
.reset_bottom {
  margin-top: 0.333333rem;
  border: 1px solid #e5e5e5;
  padding-top: 0.691667rem;
  background-color: #f9f9f9;
  padding-bottom: 0.683333rem;
}
.reset_bottom .title {
  font-size: 0.3rem;
  font-weight: bolder;
  text-align: center;
  line-height: 0.3rem;
}
.reset_bottom ul {
  width: 8.066667rem;
  margin: auto;
  margin-top: 0.666667rem;
  height: 1px;
  background-color: #c2c2c2;
  position: relative;
}
.reset_bottom ul li {
  position: absolute;
  width: 0.416667rem;
  margin-left: -0.208333rem;
  margin-top: -0.183333rem;
  text-align: center;
}
.reset_bottom ul li p {
  width: 0.333333rem;
  height: 0.333333rem;
  background-color: #666;
  line-height: 0.333333rem;
  color: #fff;
  font-size: 0.116667rem;
  font-weight: bolder;
  margin: auto;
}
.reset_bottom ul li span {
  display: inline-block;
  font-size: 0.1rem;
  margin-top: 0.083333rem;
  font-weight: bolder;
}
.reset_bottom ul li .active {
  background-color: #c32324;
}
.reset_bottom ul .li1 {
  left: 0;
}
.reset_bottom ul .li2 {
  left: 33.3%;
}
.reset_bottom ul .li3 {
  left: 66.6%;
}
.reset_bottom ul .li4 {
  left: 100%;
}
.reset_bottom form {
  padding-left: 3.033333rem;
  margin-top: 1.125rem;
}
.reset_bottom form p {
  font-size: 0.116667rem;
  font-weight: bolder;
  margin-bottom: 0.108333rem;
}
.reset_bottom form .form_box input {
  width: 3.916667rem;
  height: 0.433333rem;
  border: 1px solid #c2c2c2;
  text-indent: 0.166667rem;
  float: left;
}
.reset_bottom form .form_box i {
  float: left;
  width: 0.216667rem;
  height: 0.216667rem;
  background-image: url('../img/xuebi.png');
  background-size: 0.516667rem 4.025rem;
  background-position: -0.3rem -1.2125rem;
  margin-top: 0.108333rem;
  margin-left: 0.125rem;
  margin-right: 0.058333rem;
}
.reset_bottom form .form_box span {
  float: left;
  margin-top: 0.166667rem;
}
.reset_bottom form .form_btn {
  padding-left: 1.108333rem;
  padding-top: 0.358333rem;
}
.reset_bottom form .form_btn button {
  width: 1.7rem;
  height: 0.5rem;
  background-color: #06b4b3;
  color: #fff;
  font-size: 0.166667rem;
  font-weight: bolder;
  cursor: pointer;
}
